<div class=designaciones *ngIf='usuarioSeleccionado'>

  <button mat-raised-button (click)='location.back()' class="btnVolver"><mat-icon>navigate_before</mat-icon> VOLVER</button>
   <span class="textoTitulo">Crear Designación</span>
   <span>&nbsp; para &nbsp;</span>
   <span><b>{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellido}}</b></span>





<mat-horizontal-stepper class="contenedorStepper" linear='true' #stepper>

  <mat-step>
    <ng-template matStepLabel>Seleccionar lugar</ng-template>

    <mat-form-field class="search">
        <input matInput type='search'  placeholder="Buscar lugar"  [(ngModel)]='busqueda' (keyup)='actualizarBusqueda()'/>
    </mat-form-field>

    <button mat-raised-button (click)='buscarLugares()' [disabled]='!busquedaActivada' title="Buscar usuario"><mat-icon>search</mat-icon> </button>

    <div class="textoResultadoDeBusqueda"> Lugares encontrados: <b>{{lugares.length}}</b>  </div>

    <div>
        <div *ngFor="let lugar of lugares" (click)="onSelect(stepper, lugar)" class="itemLista" >
          <div *ngIf='lugar.materia'>
            <div class="tipoLugar"> {{lugar.tipo }} </div>
            <div> {{lugar.materia.nombre }} </div>
            <div class="textoLinea3">cátedra {{lugar.nombre }}  </div>
          </div>
          <div *ngIf='!lugar.materia'>
            <div class="tipoLugar"> {{lugar.tipo }} </div>
            <div> {{lugar.nombre }} </div>
          </div>
        </div>
    </div>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Crear correo Econo</ng-template>
    <div>

      <mat-form-field class="search">
        <span matSuffix>@econo.unlp.edu.ar &nbsp;</span>
        <input [(ngModel)]='correo' (keyup)='desactivar()' type="email" matInput placeholder="nombre.apellido">
        <mat-hint class="textoDisponibilidad">
          <div *ngIf='disponible' class="textoDisponibilidad"><div *ngIf='mensaje'>{{mensaje}}</div></div>
          <div *ngIf='!disponible' class="textoNoDisponibilidad"><div *ngIf='mensaje'>{{mensaje}}</div></div>
        </mat-hint>
      </mat-form-field>

      <div>
        <button class="btnDisponibilidad" *ngIf='!disponible' mat-button (click)='verificarDisponibilidad()' [disabled]='correo.length <= 0'>VERIFICAR DISPONIBILIDAD</button>
        <button class="btnSiguiente" *ngIf='disponible' mat-button matStepperNext [disabled]='!disponible'>SIGUIENTE</button>
      </div>

    </div>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Confirmar Designación</ng-template>

    <div>

      <div class="textoTitulo">
        Confirmar Designación
      </div>

      <div>
        <b>Importante!!!</b> Los Datos ingresados NO PODRÁN SER MODIFICADOS una vez creada la designación.<br>
        Responsable de la designación: Persona Responsable.<br>
      </div>

      <!-- <div *ngIf='usuarioSeleccionado'>
        Usuario Seleccionado:
        <div>
          <div>{{usuarioSeleccionado.dni}}</div>
          <div>{{usuarioSeleccionado.nombre}}</div>
          <div>{{usuarioSeleccionado.apellido}}</div>
        </div>
      </div> -->


      <div *ngIf='lugarSeleccionado'>
        Lugar Seleccionado:
        <div *ngIf='lugarSeleccionado.materia'>
          <span> {{lugarSeleccionado.tipo }} &nbsp;</span>
          <span> {{lugarSeleccionado.nombre }} &nbsp;</span>
          <span> {{lugarSeleccionado.materia.nombre }} &nbsp;</span>
        </div>
        <div *ngIf='!lugarSeleccionado.materia'>
          <span> {{lugarSeleccionado.tipo }} &nbsp;</span>
          <span> {{lugarSeleccionado.nombre }} &nbsp;</span>
        </div>
      </div>
      <br>
      <br>

      <div>
        Tipo: Cumpliendo Funciones
      </div>
      <br>
      <div>
        Correo Institucional: {{correo}}
      </div>
      <br>
    </div>
    <button mat-button matStepperPrevious>Anterior</button>
    <button mat-button (click)='generarDesignacion(stepper)'>Generar</button>
  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Fin</ng-template>

    La designación se ha generado con éxito.
    Debe esperar el período de sincronización (puede tardar hasta 1 hora en activarse en los sistemas).
    Atte.
          Equipo de desarrollo DiTESI.
    <button mat-button routerLink='/buscar'>Aceptar</button>
  </mat-step>

</mat-horizontal-stepper>
</div>
