<div class="seleccionarUsuario">
  
  <form (ngSubmit)="buscarUsuarios()" #usuarioForm="ngForm">
    <mat-form-field class="inputSearch">
      <mat-placeholder>Buscar Usuario</mat-placeholder>
      <input matInput type='search'  [(ngModel)]='busqueda'  name="search" id="search" required class="inputSearch"/>
      <mat-hint><strong>{{usuarios.length}}</strong> Usuarios encontrados </mat-hint>
      <button mat-button matSuffix type="submit" class="btnBuscar" [disabled]="!usuarioForm.form.valid" title="Buscar usuario"><mat-icon>search</mat-icon>Buscar</button>
    </mat-form-field>
  </form>

  <!-- Lista -->
  <mat-list>
    <mat-list-item class="itemLista" *ngFor="let info of usuarios" (click)="seleccionarUsuario(info.usuario)">
      <img matListAvatar src="https://i.pinimg.com/originals/1d/52/88/1d528825423bbfc1fe82dde5c871962d.jpg">
      <h3 matLine> {{info.usuario.nombre }} {{info.usuario.apellido}} </h3>
      <p matLine>
        <span class="itemTextoSubtitulo">{{info.usuario.dni}}</span>
      </p>
    </mat-list-item>
  </mat-list>


</div>
