<mat-toolbar-row>
        <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
        <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
        <span class="ruta">&nbsp; Nueva Designación > Crear Usuario</span>
  </mat-toolbar-row>
  
  <mat-divider></mat-divider>


<div class="pantalla">

        <div class="contenedorForm">
                <!-- <mat-card >
                    <mat-card-content > -->
                            <form id="person-form" [formGroup]='form' (ngSubmit)='alta()' class="formulario">
                                    <mat-form-field appearance="outline" class="itemFormulario">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput formControlName='nombre'/>
                                    </mat-form-field>
                    
                                    <mat-form-field appearance="outline" class="itemFormulario" >
                                        <mat-label>Apellido</mat-label>
                                        <input matInput formControlName='apellido'/>
                                    </mat-form-field>
                    
                                    <mat-form-field appearance="outline" class="itemFormulario">
                                        <mat-label>Dni</mat-label>
                                        <input matInput formControlName='dni'/>
                                    </mat-form-field>
                    
                                    <div class="dobleItemFormulario">
                    
                                        <mat-form-field appearance="outline" class="itemMedioFormulario">
                                            <mat-label>Teléfono</mat-label>
                                            <input matInput formControlName='telefono'/>
                                        </mat-form-field>
                                
                                        <mat-form-field appearance="outline" class="itemMedioFormulario">
                                            <mat-label>Celular</mat-label>
                                            <input matInput formControlName='celular'/>
                                        </mat-form-field>
                    
                    
                                    </div>
                    
                                    <mat-form-field appearance="outline" class="itemFormulario">
                                        <mat-label>Correo Electrónico</mat-label>
                                        <input matInput formControlName='email'/>
                                    </mat-form-field>
                    
                    
                                </form>
                    <!-- </mat-card-content>
                </mat-card> -->
            </div>
        
            <div class="contenedorAcciones"> 
                    <button type="submit" [disabled]="!form.valid" form='person-form' class="btnGuardar" mat-flat-button color="primary" >SIGUIENTE</button>
            </div>

</div>