.component {
  height:100%;
}

.headerApp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #222222;
  color: white;
  /*padding: 20px;*/
}

.tituloApp {
  margin-left: 20px;
}

.btnApp {
  margin-right: 20px;
}

.btnApp:hover {
  background-color: #4186E1;
}
