<form [formGroup]='form' (ngSubmit)='submit()'>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName='nombre'/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName='apellido'/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Dni</mat-label>
        <input matInput formControlName='dni'/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName='telefono'/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Celular</mat-label>
        <input matInput formControlName='celular'/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName='email'/>
    </mat-form-field>

    <button type="submit" [disabled]="!form.valid">Crear</button>

</form>