<mat-toolbar-row>
  <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
  <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
  <span class="ruta">&nbsp; Nueva Designación > Seleccionar Usuario</span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">
  <app-seleccionar-usuario (seleccionado)='seleccionado($event)'></app-seleccionar-usuario>
  <button mat-stroked-button color="primary" (click)='crear_persona()' class="btnCrear">CREAR NUEVO USUARIO</button>
</div>
