
<form [formGroup]='form' (ngSubmit)='submit()'>
  <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName='nombre'/>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <input matInput formControlName='descripcion'/>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Tipo de Lugar</mat-label>
      <mat-select formControlName='tipo'>
          <mat-option *ngFor="let tipo of (tipos$ | async)" [value]="tipo">
              {{tipo.nombre}}
          </mat-option>
      </mat-select>    
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nº Oficina</mat-label>
    <input matInput formControlName='oficina'/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName='telefono'/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo</mat-label>
    <input matInput formControlName='correo'/>
  </mat-form-field>


  <button type="submit" [disabled]="!form.valid">Actualizar</button>

</form>