/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.usuariosLugar .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.usuariosLugar .btnVolverSeccion {
  color: grey;
}

.usuariosLugar .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/
