<form class="example-form">
  <mat-form-field class="example-full-width">
  <input matInput placeholder="Buscar" aria-label="State" [matAutocomplete]="auto" [formControl]="campoBusqueda"> 

    <mat-icon *ngIf="cargando" matSuffix>refresh</mat-icon>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let l of lugares | async" [value]="l.id" (click)='seleccionarLugar(l)'>
        <!-- <img class="example-option-img" aria-hidden [src]="track.thumbnail" height="25"> -->
        <span>{{l.nombre}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>  

</form>

<div class="text-center">
  <p class="lead" *ngIf="cargando">Cargando...</p>
</div>


<div *ngFor='let t of seleccionados'>
  <span>{{ t.nombre}}</span>
</div>

<button (click)='finalizar_seleccion()'>Finalizar</button>