
<form >
    <mat-form-field class="formulario" appearance="fill" class="contenedorFormulario">
        <input matInput placeholder="Buscar Lugares" aria-label="State" [matAutocomplete]="auto" [formControl]="campoBusqueda" >
        <mat-icon class="girar" *ngIf="cargando" matSuffix>clear</mat-icon>
        <mat-icon *ngIf="!cargando" matSuffix>search</mat-icon>

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let l of lugares$ | async" [value]="l.id" (click)='seleccionarLugar(l)' >
                <div class="itemLugar" >
                    <div class="avatar" [ngStyle]="{'background-color': getRandomColor()}">{{l.abreviatura}}</div>
                    <span class="nombre">{{l.nombre}} </span>
                </div>
            </mat-option>
        </mat-autocomplete>

        <mat-hint *ngIf='existen_resultados$ | async'>No se encontraron resultados!</mat-hint>
    </mat-form-field>

    <button mat-button [matMenuTriggerFor]="menu" matTooltip="Filtros"><i class="material-icons">tune</i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-checkbox>Cátedras</mat-checkbox></button>
      <button mat-menu-item><mat-checkbox>Departmamentos</mat-checkbox></button>
      <button mat-menu-item><mat-checkbox>Oficinas</mat-checkbox></button>
    </mat-menu>

</form>


<div class="contenedorSeleccionados">

    <mat-card >
        <mat-card-content>
            <div class="textLS">Lugares Seleccionados</div>

            <mat-chip-list *ngFor='let t of seleccionados'>
                <mat-chip>
                  {{t.nombre}}<mat-icon matChipRemove (click)='deseleccionar(t)'>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
   
    <button class="btnSiguiente" mat-flat-button color="primary" (click)='finalizar_seleccion()'>Siguiente</button>

</div>

