<form class="contenedorFormulario">
  <mat-form-field class="formulario">
    <input matInput placeholder="Buscar" aria-label="State" [matAutocomplete]="auto" [formControl]="campoBusqueda" >

    <mat-icon class="girar" *ngIf="cargando" matSuffix>loop</mat-icon>
    <mat-icon *ngIf="!cargando" matSuffix>search</mat-icon>


    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let l of lugares$ | async" [value]="l.id" (click)='seleccionarLugar(l)' >
          <div class="itemLugar">
              <div class="avatar">{{l.abreviatura}}</div>
              <span>{{l.nombre}} </span>
              <!-- <small> - {{l.superior}}</small> -->
          </div>
      </mat-option>
    </mat-autocomplete>

    <mat-hint *ngIf='existen_resultados$ | async'>No se encontraron resultados!</mat-hint>

  </mat-form-field>

</form>


<mat-chip-list *ngFor='let t of seleccionados'>
  <mat-chip>{{t.nombre}}
    <mat-icon matChipRemove (click)='deseleccionar(t)'>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>

<button mat-flat-button color="primary" (click)='finalizar_seleccion()'>Siguiente</button>