<!-- <div class="sistema">
  <app-header (menu)='onMenu($event)'></app-header>
  <app-menu class="contenido" (onItem)='onItem($event)' [menu_abierto]='menu_abierto'></app-menu>
  <app-footer ></app-footer>
</div> -->

<!-- <div class="preload"><mat-spinner diameter="50"></mat-spinner></div> -->
<app-preload-total></app-preload-total>

<mat-drawer-container class="sistema" autosize >

  <!-- CABECERA -->
    <mat-toolbar class="cabecera" color="primary">

        <div>
            <button mat-icon-button class="iconoCabecera" color="" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Apps FCE</span>
        </div>

        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>color_lens</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <div class="seleccionTema">
                    <button mat-mini-fab color="primary"  (click)="cambiar_tema('temaFceOscuro')"> <mat-icon>check_circle </mat-icon></button>
                    <button mat-mini-fab color="warn"  (click)="cambiar_tema('temaFceClaro')"></button>
                </div>    
            </mat-menu>

          <button mat-icon-button color="" (click)="drawer2.toggle()">
            <mat-icon>apps</mat-icon>
          </button>
        </div>

    </mat-toolbar>

    <app-preload-parcial></app-preload-parcial>
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

    
    <!-- MENUS -->
      
    <!-- Menu pincipal -->
    <mat-drawer #drawer class="menu" mode="over">
        <mat-toolbar color="primary">
            <span>GELIS</span>
        </mat-toolbar>

        <!-- NUEVO -->
        <button class="btnMenu" mat-button routerLink="/sistema/inicio" (click)='cerrar_menu(drawer)'>
            <mat-icon class="iconoMenu">filter_1</mat-icon>Lugares            
        </button>
        <button class="btnMenu" mat-button routerLink="/sistema/designaciones/pendientes" (click)='cerrar_menu(drawer)'>
            <mat-icon class="iconoMenu">notifications_none</mat-icon>Pendientes
        </button>
        
        

        <!-- VIEJO -->
        <!-- <button *ngIf="chequearPerfil(['super-admin','buscar_usuario'])" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/usuario/buscar">
            <mat-icon class="iconoMenu">search</mat-icon>Buscar Usuario
        </button>
        <button *ngIf="chequearPerfil(['super-admin','crear_usuario'])" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/usuario/crear">
            <mat-icon class="iconoMenu">perm_identity</mat-icon>Crear Usuario
        </button>
        <button *ngIf="chequearPerfil(['super-admin','buscar_lugar'])" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/lugares/buscar">
            <mat-icon class="iconoMenu">search</mat-icon>Buscar Lugar
        </button>  
        <button *ngIf="chequearPerfil(['super-admin','crear_lugar'])" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/lugares/crear">
            <mat-icon class="iconoMenu">bookmark_border</mat-icon>Crear Lugar
        </button>
        <button *ngIf="chequearPerfil(['super-admin','buscar_lugar']) && mostrarOrganigrama()" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/lugares/lugares">
            <mat-icon class="iconoMenu">device_hub</mat-icon>Organigrama
        </button>
        <button *ngIf="chequearPerfil(['super-admin','sincronizacion_usuario']) && mostrarSincoUsuarios()" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/sinc/usuarios">
            <mat-icon class="iconoMenu">device_hub</mat-icon>Sincronizacion Usuarios
        </button>
        <button *ngIf="chequearPerfil(['super-admin','sincronizacion_login']) && mostrarSincoLogin()" class="btnMenu" mat-button (click)='cerrar_menu(drawer)' routerLink="/sistema/sinc/login">
            <mat-icon class="iconoMenu">device_hub</mat-icon>Sincronizacion Login
        </button>     -->
    </mat-drawer>
    
    <!-- Menu Aplicaciones -->
    <mat-drawer #drawer2 class="menu" mode="over" position="end">
        <mat-toolbar color="primary">
            <mat-icon class="iconoMenuApps">apps</mat-icon>
            <span> Apps FCE</span>
        </mat-toolbar>
        <div class="contenidoMenuApps">
            <div>
                Sistemas FCE
            </div>
            <div>
                <mat-divider></mat-divider>
                <div><i class="material-icons">help_outline </i>Acerca de</div>
                <div class="textSistema"><b>Apps FCE | v. 1.0.1</b></div>
                <div class="textInfo">DiTeSI | Dirección de Tecnologías y Sistemas Informáticos | FCE - UNLP</div>
            </div>
        </div>
    </mat-drawer>

  
  <!-- CONTENIDO -->
  
  <div class="contenido">

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>

