<div class="loader">
    <div class="header">
        <div>Asistencia | FCE</div>
    </div>
    <div class="contenedorSistema">
      <div class="contenedorAcceso">
          <div>
              <div class="contenedorTitulo">
                  <div><img class="logoSistema" src="/assets/img/logo.png"></div>
                  <div class="titulo"> Administración de Usuarios</div>
              </div>
              <div class="subTitulo">Sistema de control, gestión y administracción de asistencia de personal en tiempo real.</div>
              <div> <button class="btnAcceder" (click)="acceder()"> ACCEDER  </button> </div>
          </div>

          <div>
            <img class="logoFce" src="/assets/img/logofce2018.png">
          </div>
      </div>
        <div class="infoSistema">
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">access_time</mat-icon></div>
              <div class="tituloInfo">ABM de Usuarios</div>
              <div class="infoBloque">Gestión de altas, bajas y mofificaciones de usuarios</div>
            </div>
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">dvr</mat-icon></div>
              <div class="tituloInfo">Designaciones y Cargos</div>
              <p class="infoBloque">Gestión de cargos y designaciones para el personal de la FCE.</p>
            </div>
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">star_border</mat-icon></div>
              <div class="tituloInfo">Gestión de Oficinas</div>
              <div class="infoBloque">Administración de lugares para la designación del personal.</div>
            </div>
            <div class="bloqueInfo">
              <div><mat-icon class="iconos">turned_in_not</mat-icon></div>
              <div class="tituloInfo">Correo Institucional</div>
              <div class="infoBloque">Altas de cuentas de correo electrónico institucionales. </div>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="footerPrincipal">DiTESI | Dirección de tecnologías y Sistemas Informáticos | Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777</div>
      <div class="footerAlternativo">  DiTESI | Dirección de tecnologías y Sistemas Informáticos | FCE</div>
    </div>
</div>

<!-- <div class="contenedorSistema">
  <div class="contenedorAcceso">
      <div>
          <div class="contenedorTitulo">
              <div><img src="logo.png" height="80.641px" width="75px"></div>
              <div class="titulo"> Administración de Usuarios</div>
          </div>
          <div class="subTitulo">Sistema de administración de Usuarios, Designaciones y Oficinas.</div>
          <div> <button class="btnAcceder" (click)='acceder()'> ACCEDER  </button> </div>
      </div>

      <div>
        <img src="logo_fce.png">
      </div>
  </div>
  <div class="infoSistema">
      <div class="bloqueInfo">
        <div><i class="far fa-user fa-2x iconos"></i></div>
        <div class="tituloInfo">ABM de Usuarios</div>
        <div class="infoBloque">Gestión de altas, bajas y mofificaciones de usuarios</div>
      </div>
      <div class="bloqueInfo">
        <div><i class="far fa-address-card fa-2x iconos"></i></div>
        <div class="tituloInfo">Designaciones y Cargos</div>
        <p class="infoBloque">Gestión de cargos y designaciones para el personal de la FCE.</p>
      </div>
      <div class="bloqueInfo">
        <div><i class="far fa-building fa-2x iconos"></i></div>
        <div class="tituloInfo">Gestión de Oficinas</div>
        <div class="infoBloque">Administración de lugares para la designación del personal. </div>
      </div>
      <div class="bloqueInfo">
        <div><i class="far fa-envelope fa-2x iconos"></i></div>
        <div class="tituloInfo">Correo Institucional</div>
        <div class="infoBloque">Altas de cuentas de correo electrónico institucionales. </div>
      </div>
  </div>
</div> -->
