/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.crearLugar .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.crearLugar .btnVolverSeccion {
  color: grey;
}

.crearLugar .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/

.formulario {
}

.itemFormulario {
  width: 100%;
}
