/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.organigrama .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.organigrama .btnVolverSeccion {
  color: grey;
}

.organigrama .contenidoPantalla {
  padding: 20px;
  max-width: 1080px;

}



/* ---------------------------------------*/


.arbol ul,
.arbol li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.arbol ul {
  padding-inline-start: 40px;
}

.arbol-nodo-invisible {
  display: none;
}

