
<div class="designaciones">

    <div>
      Datos de la persona
      Dni: <input type='text' ng-model='model.usuario.dni'></input>
      Nombre: <input type='text' readonly=true ng-model='model.usuario.nombre'></input>
      Apellido: <input type='text' readonly=true ng-model='model.usuario.apellido'></input>
    </div>

    <md-list flex>
      <md-list-item class="md-list-item-text" layout='column' ng-repeat='d in model.designaciones'>
        <h3>
          {{d.cargo.nombre}}
        </h3>
        <div>
          {{d.lugar.nombre}}
        </div>
        <div>
          {{d.desde}}
        </div>
        <div>
          {{d.hasta}}
        </div>
        <div>
          expediente {{d.expediente}}
        </div>
        <div>
          resolucion {{d.resolucion}}
        </div>
      </md-list-item>
    </md-list>

</div>
