<mat-toolbar-row>
        <button mat-button color="primary"><mat-icon>undo </mat-icon> VOLVER</button>
        <span>&nbsp; Lugares | Detalle Lugar</span>
</mat-toolbar-row>
      
<mat-divider></mat-divider>
      
<div class="pantalla">

    <div class="contenedorForm">
        <!-- <mat-card >
            <mat-card-content > -->
                <app-modificar-lugar></app-modificar-lugar>
            <!-- </mat-card-content>
        </mat-card> -->
    </div>

    <div class="contenedorAcciones"> 
            <button class="btnItems" mat-stroked-button color="accent" routerLink='/sistema/designaciones/listar/sdfsdfd'>DESIGNACIONES</button>
            <button class="btnGuardar" mat-flat-button color="primary" >GUARDAR</button>

    </div>

</div>


<!-- <button>volver</button>
<app-modificar-lugar></app-modificar-lugar>
<button>nueva designacion</button>
<button routerLink='/sistema/designaciones/listar/sdfsdfd'>designaciones</button> -->