<mat-toolbar-row>
        <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
        <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
        <span class="ruta">&nbsp; Lugares > Detalle Lugar</span>

</mat-toolbar-row>
      
<mat-divider></mat-divider>
      
<div class="pantalla">
    
    <div class="contenedorForm">
        <!-- <mat-card >
            <mat-card-content > -->
                <form id='lugar' [formGroup]='form' (ngSubmit)='submit()' *ngIf="lugar$ | async; else lugarNulo">
                

                        <mat-form-field class="itemFormulario" appearance="outline" >
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName='nombre' />
                            </mat-form-field>
                        
                            <mat-form-field class="itemFormulario" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input matInput formControlName='descripcion'/>
                            </mat-form-field>
                        
                            <mat-form-field class="itemFormulario" appearance="outline">
                                <mat-label>Tipo de Lugar</mat-label>
                                <mat-select formControlName='tipo'>
                                    <mat-option *ngFor="let t of (tipos$|async)" [value]="t">
                                        {{t}}
                                    </mat-option>
                                </mat-select>    
                            </mat-form-field>
                        
                            <div class="dobleItemFormulario">
                        
                                <mat-form-field class="itemMedioFormulario" appearance="outline">
                                  <mat-label>Nº Oficina</mat-label>
                                  <input matInput formControlName='oficina' />
                                </mat-form-field>
                        
                                <mat-form-field class="itemMedioFormulario" appearance="outline">
                                  <mat-label>Teléfono / Interno</mat-label>
                                  <input matInput formControlName='telefono' />
                                </mat-form-field>
                        
                            </div>    
                        
                            <mat-form-field class="itemFormulario" appearance="outline">
                              <mat-label>Correo Electrónico</mat-label>
                              <input matInput formControlName='correo' />
                            </mat-form-field>                    

                </form>
                <ng-template #lugarNulo>No se encontro el lugar</ng-template>

            <!-- </mat-card-content>
        </mat-card> -->        
    </div>

    <div class="contenedorAcciones"> 
            <button class="btnItems" mat-stroked-button color="primary" (click)="designaciones()">DESIGNACIONES</button>
            <button class="btnItems" mat-stroked-button color="primary" (click)='crear_alta()'>+ NUEVA DESIGNACIÓN</button>
            <button type="submit" form='lugar' [disabled]="!form.valid" class="btnGuardar" mat-flat-button color="primary" >GUARDAR</button>

    </div>


</div>
