<div class="seleccionarUsuario">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink="/sistema/inicial"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Buscar Usuario
  </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">
    <app-listado-usuarios [usuarios]="usuarios" (selected)="seleccionarUsuario($event)" (searchEvent)="buscarUsuarios($event)"></app-listado-usuarios>
    <mat-progress-bar *ngIf="buscando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>
  </div>

</div>
