<div class="desginacionesPendientes">
  <!-- <mat-tab-group *ngFor="let dv of designaciones" class="tabla">
    <mat-tab label="{{ dv.lugar.nombre }} - Altas {{ dv.lugar.ptos_alta }} Puntos - Bajas {{ dv.lugar.ptos_baja }} Puntos}" class="Tabs">
      <mat-table #table [dataSource]="l.designaciones" matSort (matSortChange)='ordenar($event)' matSortActive="fullname" matSortDirection="asc">
        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef='let n'> {{ n }} </mat-cell>
        </ng-container>
      </mat-table>
    </mat-tab>
  </mat-tab-group> -->
</div>