<div class="desginacionesPendientes">
  <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="ptos_alta">
          <mat-header-cell *matHeaderCellDef> Puntos Alta </mat-header-cell>
          <mat-cell *matCellDef="let lugar_view"> {{lugar_view.ptos_alta}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas;"></mat-row>    
  </mat-table>
</div>

<div>
  <h1>FOR</h1>
  <div *ngFor="let l of v$ | async">
    <p>Hola</p>
    <p> {{ l.ptos_alta }} </p>
  </div>
</div>