<mat-toolbar-row>
        <button mat-button color="primary" (click)='volver()'><mat-icon>undo </mat-icon> VOLVER</button>
        <span>&nbsp;  Nueva Designación | Selección de Cargo</span>
</mat-toolbar-row>
      
<mat-divider></mat-divider>
    
 <div class="pantalla">

    <div class="contenedorForm">

        <mat-card class="contenedorUsuario">
            <mat-card-header>
                <mat-card-title>{{(persona$ | async)?.nombre}}</mat-card-title>
                <mat-card-subtitle>{{(lugar$ | async)?.nombre}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>

        <form [formGroup]='form' (ngSubmit)='submit()' class="formulario" >

            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Cargo</mat-label>
                <mat-select formControlName='cargo'>
                    <mat-option *ngFor="let cargo of (cargos$ | async)" [value]="cargo">
                        {{cargo.nombre}}
                    </mat-option>
                </mat-select>    
            </mat-form-field>
                            
            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Dedicación</mat-label>
                <mat-select formControlName='cargo'>
                    <mat-option *ngFor="let cargo of (dedicaciones$ | async)" [value]="cargo">
                        {{cargo.dedicacion}}
                    </mat-option>
                </mat-select>    
            </mat-form-field>
                            
            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Dedicación</mat-label>
                <mat-select formControlName='cargo'>
                    <mat-option *ngFor="let cargo of (caracteres$ | async)" [value]="cargo">
                        {{cargo.caracter}}
                    </mat-option>
                </mat-select>    
            </mat-form-field>

            <mat-form-field class="itemFormulario" appearance="outline">
                <mat-label>Archivos</mat-label>
                <adjuntar-archivos placeholder='click para subir archivos...' formControlName='archivos'></adjuntar-archivos>
            </mat-form-field>
        </form>
    </div>

    <div class="contenedorAcciones"> 
        <button type="submit" [disabled]="!form.valid" mat-flat-button color="primary" class="btnGuardar">GUARDAR</button>
    </div>

</div>
