<div class=designaciones *ngIf='usuarioSeleccionado'>

  <button mat-raised-button (click)='location.back()' class="btnVolver"><mat-icon>navigate_before</mat-icon> VOLVER</button>
   <span class="textoTitulo">Crear Correo</span>
   <span>&nbsp; para &nbsp;</span>
   <span><b>{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellido}}</b></span>



<mat-horizontal-stepper class="contenedorStepper" linear='true' #stepper>

  <mat-step>

    <div>
      <div class="textoTitulo">
        Crear correo Institucional
      </div>

      <mat-form-field class="search">
        <span class="matSuffixEcono" matSuffix>@econo.unlp.edu.ar &nbsp;</span>
        <input class="inputCorreo" [(ngModel)]='correo' (keyup)='desactivar()' type="email" matInput placeholder="nombre.apellido">
        <mat-hint class="textoDisponibilidad">
          <div *ngIf='disponible' class="textoDisponibilidad"><div *ngIf='mensaje'>{{mensaje}}</div></div>
          <div *ngIf='!disponible' class="textoNoDisponibilidad"><div *ngIf='mensaje'>{{mensaje}}</div></div>
        </mat-hint>
      </mat-form-field>

      <div>
        <button class="btnDisponibilidad" *ngIf='!disponible' mat-button (click)='verificarDisponibilidad()' [disabled]='correo.length <= 0'>VERIFICAR DISPONIBILIDAD</button>
        <button class="btnSiguiente" *ngIf='disponible' mat-button matStepperNext [disabled]='!disponible'>SIGUIENTE</button>
      </div>

    </div>

  </mat-step>

  <mat-step>


    <div>

      <div class="textoTitulo">
        Confirmar
      </div>

      <div class="textoAviso">
        <b>Importante!!!</b> Los Datos ingresados NO PODRÁN SER MODIFICADOS una vez creada la designación.<br>
        Responsable de la designación: Persona Responsable.<br>
      </div>

      <div class=subTitulo><b>Correo Institucional</b></div>
      <div class="correo">{{correo}}@econo.unlp.edu.ar</div>

    </div>

    <div><button class="btnSiguiente" mat-button (click)='generarCorreo(stepper)'>CREAR CORREO</button></div>
    <div> <button class="btnAnterior" mat-button matStepperPrevious>Anterior</button> </div>


  </mat-step>

  <mat-step>


    <div class="textoTitulo">
      Correo creado correctamente
    </div>

    <div class="textoAviso">Debe esperar el período de sincronización, este proceso puede llegar a demorar hasta una hora</div>

    <button class="btnSiguiente" mat-button routerLink='/buscar'>Aceptar</button>

  </mat-step>

</mat-horizontal-stepper>
</div>
