<mat-horizontal-stepper linear='true' #stepper>
  <mat-step>
      <div *ngIf='usuarioSeleccionado'>
        Usuario Seleccionado:
        <div>
          <div>{{usuarioSeleccionado.dni}}</div>
          <div>{{usuarioSeleccionado.nombre}}</div>
          <div>{{usuarioSeleccionado.apellido}}</div>
        </div>
      </div>
      <br>
      <br>

      <div>
        Debe Seleccionar el correo a crear:
        Correo:<input matInput [(ngModel)]='correo' (keyup)='desactivar()' type='email'/>
        <div *ngIf='mensaje'>{{mensaje}}</div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button *ngIf='!disponible' mat-button (click)='verificarDisponibilidad()' [disabled]='correo.length <= 0'>Verificar Disponibilidad</button>
        <button *ngIf='disponible' mat-button matStepperNext [disabled]='!disponible'>Generar</button>
      </div>
    </mat-step>

    <mat-step>
      Está seguro que desea generar la designacion:
      <div>
        <div>
          IMPORTANTE!!! Los Datos ingresados NO SE PUEDEN MODIFICAR una vez creada la designación.
          Responsable de la designación: Persona Responsable<br>
        </div>
        <div *ngIf='usuarioSeleccionado'>
          Usuario Seleccionado:
          <div>
            <div>{{usuarioSeleccionado.dni}}</div>
            <div>{{usuarioSeleccionado.nombre}}</div>
            <div>{{usuarioSeleccionado.apellido}}</div>
          </div>
        </div>
        <br>
        <br>
        <div>
          Correo Institucional: {{correo}}
        </div>
        <br>
      </div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button (click)='generarCorreo(stepper)'>Generar</button>
    </mat-step>

    <mat-step>
      La designación se ha generado con éxito.
      Debe esperar el período de sincronización (puede tardar hasta 1 hora en activarse en los sistemas).
      Atte.
            Equipo de desarrollo DiTESI.
      <button mat-button routerLink='/buscar'>Aceptar</button>
    </mat-step>

  </mat-horizontal-stepper>
