// VARIABLES DE COLOR PARA LOS ESTADOS DE LAS DESIGNACIONES

// Tipo de designacion
$colorAlta: #2196f3;
$colorBaja: #5C7A95;
$colorCambioCargo: #ECB057;
$colorProrroga: #A4009D;
$colorActiva: #51B24A;
// Estado de designacion
$colorPendiente: #E22748;
$colorAprobado: #96ba3a;
$colorUNLP: #2c9684;
$colorDenegado: #9A00B1;
$colorCancelado: #6C24B8;

$sinColorTipo:#3B4248;
$sinColorEstado:#637b89;


  



.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.pantalla {
    padding: 0 20PX 20PX 20px;
}

.espacioEjemplo {
    flex: 1 1 auto;
}

.tab {
    margin-top: 10px;
}


.tabla{
    width: 100%;
    
  }
  
  mat-table {
    width: 100%;
    @media screen and (max-width: 768px) {
        width: 150%;
    }

  }


  
.mat-column-usuario {
  flex: 0 0 15% !important;
  min-width: 100px !important;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    width: 200px !important;
}
}

.mat-column-acciones {
    flex: 0 0 3% !important;
    min-width: 25px !important;
    padding-left: 5px;
}

.mat-column-codigo {
    @media screen and (max-width: 768px) {
        max-width: 50px !important;
    }
}

  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    // border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }



.bloqueEstados {
    display: flex;
}

.tipo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 12px;
    // min-width: 16px;
    // min-height: 16px;
    width: 19px;
    height: 19px;
    font-weight: bold;
    margin-right: 5px;
    color: white;
    padding: 5px 20px 5px 20px;
    background-color: $sinColorTipo;
}

.estado {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    width: 19px;
    height: 19px;
    font-weight: bold;
    margin-right: 5px;
    color: white;
    // padding: 5px 20px 5px 20px;
    margin-left: -15px;
    margin-top: -5px;
    background-color: $sinColorEstado;

}



.tipo.altaActiva {
  background-color: $colorActiva;
}

.tipo.bajaActiva {
  background-color: $colorBaja;
}

.tipo.altaPendiente,
.tipo.altaAprobada,
.tipo.altaUNLP,
.tipo.altaDenegada,
.tipo.altaCancelada {
  background-color: $colorAlta;
}

.estado.altaAprobada,
.estado.bajaAprobada {
  background-color: $colorAprobado;
}

.estado.altaUNLP,
.estado.bajaUNLP {
  background-color: $colorUNLP;
}

.estado.altaDenegada,
.estado.bajaDenegada {
  background-color: $colorDenegado;
}

.estado.altaCancelada,
.estado.bajaCancelada {
  background-color: $colorCancelado;
}





.estado.altaPendiente,
.estado.bajaPendiente {
  -webkit-animation: colorPendiente 0.5s linear infinite alternate both;
	animation: colorPendiente 0.5s linear infinite alternate both;

}

@-webkit-keyframes colorPendiente {
    0% {
      background: #91282d;
    }
    100% {
      background: #E22748;
    }
  }
  @keyframes colorPendiente {
    0% {
      background:#91282d;
    }
    100% {
      background: #E22748;
    }
  }



