// VARIABLES DE COLOR PARA LOS ESTADOS DE LAS DESIGNACIONES

// Tipo de designacion
$colorAlta: #2196f3;
$colorBaja: #5C7A95;
$colorCambioCargo: #ECB057;
$colorProrroga: #A4009D;
$colorActiva: #e0e0e0;;
// Estado de designacion
$colorPendiente: #E22748;
$colorAprobado: #2196f3;
$colorUNLP: #96ba3a;

.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.pantalla {
    padding: 0 20PX 20PX 20px;
}

.espacioEjemplo {
    flex: 1 1 auto;
}

.tab {
    margin-top: 10px;
}

.bloqueEstados {
    display: flex;
}

.estados {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    width: 19px;
    height: 19px;
    font-weight: bold;
    margin-right: 5px;
    color: white;

}


.A.tipo {
    // color: $colorAlta;
    // border: 2px solid $colorAlta;
    background-color: $colorAlta;
}

.B.tipo {
    // color: $colorBaja;
    // border: 2px solid $colorBaja;
    background-color: $colorBaja;
}

.C.tipo{
    // color:$colorCambioCargo;
    // border: 2px solid $colorCambioCargo;
    background-color: $colorCambioCargo;

}

.P.tipo{
    // color:$colorProrroga;
    // border: 2px solid $colorProrroga;
    background-color: $colorProrroga;

}

// .E.tipo{
//     background-color: $colorActiva;
// }




.P.estado {
    // color:$colorPendiente;
    // border: 2px solid $colorPendiente;
    background-color: $colorPendiente;

}


.A.estado {
    // color:$colorAprobado;
    // border: 2px solid $colorAprobado;
    background-color: $colorAprobado;
}

.U.estado{
    // color:$colorUNLP;
    // border: 2px solid $colorUNLP;
    background-color: $colorUNLP;

}

