<mat-toolbar-row>
  <button mat-button color="primary" (click)='volver()'><mat-icon>undo </mat-icon> VOLVER</button>
  <span>&nbsp;  Movimientos | Editar Designación </span>
</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla">

<div class="contenedorForm">

  <mat-card class="contenedorUsuario">
      <mat-card-header>
          <mat-card-title>{{(persona$ | async)?.nombre}} {{(persona$ | async)?.apellido}}</mat-card-title>
          <mat-card-subtitle>{{(lugar$ | async)?.nombre}}</mat-card-subtitle>
      </mat-card-header>
  </mat-card>

  <form [formGroup]='form' (ngSubmit)="onSubmit()" id="edit-form" class="formulario" *ngIf="form_value$ | async; else nulo">
    <div formGroupName="cargo">
      <mat-form-field class="itemFormulario" appearance="outline">
          <mat-label>Cargo</mat-label>
              <mat-select formControlName='nombre'>
                  <mat-option *ngFor="let c of (cargos_nombre$ | async)" [value]="c.nombre">
                      {{c.nombre}}
                  </mat-option>
              </mat-select>    
      </mat-form-field>
                      
      <mat-form-field class="itemFormulario" appearance="outline">
          <mat-label>Dedicación</mat-label>
              <mat-select formControlName='dedicacion'>
                  <mat-option *ngFor="let d of (dedicaciones$ | async)" [value]="d.dedicacion">
                      {{d.dedicacion}}
                  </mat-option>
              </mat-select>    
      </mat-form-field>
    </div>
    <mat-form-field class="itemFormulario" appearance="outline">
        <mat-label>Caracter</mat-label>
        <mat-select formControlName='caracter'>
            <mat-option *ngFor="let caracter of (caracteres$ | async)" [value]="caracter">
                {{caracter.nombre}}
            </mat-option>
        </mat-select>    
    </mat-form-field>

    <mat-form-field class="itemFormulario" appearance="outline">
        <mat-label>Archivos</mat-label>
        <adjuntar-archivos placeholder='click para subir archivos...' formControlName='archivos'></adjuntar-archivos>
    </mat-form-field>

  </form>
  <ng-template #nulo>No se encontro la designación</ng-template>
</div>

<div class="contenedorAcciones"> 
  <button type="submit" form="edit-form" [disabled]="!form.valid" mat-flat-button color="primary" class="btnGuardar">GUARDAR</button>
</div>

</div>
