/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.seleccionarUsuario .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.seleccionarUsuario .btnVolverSeccion {
  color: grey;
}

.seleccionarUsuario .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/


.search {
  width: 265px;
  color: #4186E1;
}

.textoResultadoDeBusqueda {
  color: #6D6D6D;
  font-size: 0.8em;
  margin-top: -15px;
}




.itemLista {
  background-color: white;
  border: solid 1px #E0E0E0;
  margin-top: 5px;
}

.itemLista:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}


.itemTextoSubtitulo {
  color: grey;
}




@media screen and (max-width: 769px) {
  .seleccionarUsuario .contenidoPantalla {
    max-width: 100%;
  }

}
