
término a buscar : {{busqueda}}<br>
<input [(ngModel)]='busqueda' (keyup)='actualizarBusqueda()'/>
<button (click)='buscarUsuarios()' [disabled]='!busquedaActivada'>buscar</button>

<h2>Usuarios</h2>
<ul class="usuarios">
  <li *ngFor="let datos of usuarios" (click)="onSelect(datos.usuario)">
    <span> {{datos.usuario.apellido}}, {{datos.usuario.nombre}} ({{datos.usuario.dni}}) {{datos.sileg != null ? 'tiene' : 'no tiene'}}</span>
  </li>
</ul>

<div *ngIf="usuarioSeleccionado">
  <app-detalle-usuario [usuario]="usuarioSeleccionado"></app-detalle-usuario>
</div>
