<div class="seleccionarUsuario">


      <mat-form-field class="search">
          <input matInput type='search'  placeholder="Buscar Usuario"  [(ngModel)]='busqueda' (keyup)='actualizarBusqueda()'/>
      </mat-form-field>

      <button mat-raised-button (click)='buscarUsuarios()' [disabled]='!busquedaActivada' title="Buscar usuario"><mat-icon>search</mat-icon> </button>
      <!-- <button *ngIf='false' mat-raised-button routerLink='/crear' class="btnNuevoUsuario" title="Crear usuario nuevo"><mat-icon>person_add</mat-icon> </button> -->

      <div class="textoResultadoDeBusqueda"> Resultado de búqueda: <b>{{usuarios.length}}</b>  </div>


      <div class="listaDeUsuarios">
        <div *ngFor="let datos of usuarios" routerLink='/detalle/{{datos.usuario.id}}' class="mdc-list-item">
          <div class="itemUser">
              <div>
                  <mat-icon class="ico">account_circle</mat-icon>
              </div>
              <div>
                  <div>{{datos.usuario.nombre }} {{datos.usuario.apellido}}</div>
                  <div class="textoDNI">{{datos.usuario.dni}}</div>
                  <!-- <div>{{datos.usuario.dni}} {{datos.sileg != null ? 'tiene' : 'no tiene'}}</div> -->
              </div>
          </div>
        </div>
      </div>


</div>
