.seleccionarUsuario {
  padding-top: 20px;
}

.inputBuscar {
  width: 500px;
}

.listaDeUsuarios {
  padding-left: 20px;
  width: 30%;
}

.textoResultadoDeBusqueda {
  color: #6D6D6D;
  font-size: 0.8em;
  margin-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.textoDNI {
  font-size: 0.9em;
}


.btnNuevoUsuario {
  margin-left: 25px;
}



.itemUser {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}

.itemUser:hover {
  background-color: #4186E1;
  cursor: pointer;
  color: white;
}

.ico {
  font-size: 40px;
  margin-right: 30px;
}



.search {
  margin-left: 20px;
  color: #4186E1;
  font-size: 1.3em;
  width: 24%;
}



.userDetail {
  margin-left: 40px;
}


@media screen and (max-width: 769px) {
  .listaDeUsuarios {
    width: 84%;
  }
  .search {
    width:64%;
  }
  .btnNuevoUsuario {
    margin-left: 0px;
  }
  .btn {
    width: 100%;
  }
}
