<mat-toolbar-row>
    <button class="btnVolver" mat-button color="primary" (click)='volver()'> <mat-icon>undo </mat-icon> VOLVER </button>
    <button class="btnVolverCel" mat-icon-button color="primary" (click)='volver()'> <mat-icon>undo</mat-icon> </button>
    <span class="ruta">&nbsp; Designación > Detalle</span>
</mat-toolbar-row>
  
<mat-divider></mat-divider>
 
<router-outlet></router-outlet>

<div class="pantalla">

    <mat-tab-group *ngFor="let l of (lugares$ | async)">
        <mat-tab label="{{l.lugar.nombre }}">
        <mat-table [dataSource]="l.designaciones$ | async" multiTemplateDataRows>

                <ng-container matColumnDef="usuario" sticky>
                        <mat-header-cell *matHeaderCellDef class="columnaUsuario"> Usuario </mat-header-cell>
                        <mat-cell *matCellDef="let desig" class="columnaUsuario"> {{desig.usuario.nombre}}
                            {{desig.usuario.apellido}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="usuarioCelular" sticky>
                        <mat-header-cell *matHeaderCellDef class="columnaUsuario"> Usuario </mat-header-cell>
                        <mat-cell *matCellDef="let desig" class="columnaUsuario" (click)='desig.abierto = desig.abierto ==  true ? false : true'>
                            {{desig.usuario.nombre}} {{desig.usuario.apellido}}
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </mat-cell>
                    </ng-container>

                <ng-container matColumnDef="detalle">
                        <mat-cell [@desplegarDetalle]="desig.abierto == true ? 'abierto' : 'cerrado'" *matCellDef="let desig"
                            [attr.colspan]='columnas().length'>
                            <div class="detalleDesignacion">
                                <div> Cargo: <b> 44 </b> </div>
                                <div> Dedicación: <b> 55 </b> </div>
                                <div> Caracter: <b> 55 </b> </div>
                                <div> Puntos: <b> 55 </b> </div>
                                <div> Fecha: <b> 66 </b> </div>
                                <div> Resolución: <b> 88 </b> </div>
                                <div> Expediente: <b> // </b> </div>
                                <div> 
                                    <button class="btnDescargar" mat-stroked-button (click)='descargar_archivos(desig.designacion)'><mat-icon>save_alt</mat-icon> Descargar Archivos </button>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>


                <ng-container matColumnDef="cargo">
                    <mat-header-cell *matHeaderCellDef> Cargo </mat-header-cell>
                    <mat-cell *matCellDef="let desig">{{desig.designacion.cargo.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dedicacion">
                    <mat-header-cell *matHeaderCellDef> Dedicación </mat-header-cell>
                    <mat-cell *matCellDef="let desig">{{desig.designacion.cargo.dedicacion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="caracter">
                    <mat-header-cell *matHeaderCellDef> Caracter </mat-header-cell>
                    <mat-cell *matCellDef="let desig"> {{desig.designacion.caracter.nombre}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let desig"> {{desig.designacion.tipo}}</mat-cell>
                </ng-container>


                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef> Desde </mat-header-cell>
                    <mat-cell *matCellDef="let desig">{{desig.designacion.desde | date: 'dd/MM/yyyy'}}</mat-cell>
                </ng-container>  

                <ng-container matColumnDef="fechaF">
                        <mat-header-cell *matHeaderCellDef> Hasta </mat-header-cell>
                        <mat-cell *matCellDef="let desig">{{desig.designacion.desde | date: 'dd/MM/yyyy'}}</mat-cell>
                    </ng-container> 
                
                <ng-container matColumnDef="resolucion">
                    <mat-header-cell *matHeaderCellDef> Resolución </mat-header-cell>
                    <mat-cell *matCellDef="let desig">{{desig.designacion.resolucion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="expediente">
                    <mat-header-cell *matHeaderCellDef> Expediente </mat-header-cell>
                    <mat-cell *matCellDef="let desig">{{desig.designacion.expediente}}</mat-cell>
                </ng-container> 

                <ng-container matColumnDef="expedienteU">
                        <mat-header-cell *matHeaderCellDef> Expediente U. </mat-header-cell>
                        <mat-cell *matCellDef="let desig">{{desig.designacion.expediente}}</mat-cell>
                    </ng-container> 

                
                <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let desig">
                                <div class="bloqueEstados">
                                        <div class="tipo {{desig.estado.estilo}}" matTooltip="{{desig.estado.tipo}} {{desig.estado.estado}}"
                                            matTooltipPosition="before">
                                            {{textoEstado(desig.estado)}}
                                        </div>
                                        <div *ngIf="!desig.estado.final" class="estado {{desig.estado.estilo}}">{{desig.estado.codigo}}</div>
                                    </div>
                        </mat-cell>
                </ng-container> 
            
            <mat-header-row *matHeaderRowDef="columnas()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas();"></mat-row>   
            <mat-row [class.ocultarFila]='row.abierto == false || row.abierto == undefined' *matRowDef="let row; columns: ['detalle']"></mat-row>

        </mat-table>
        </mat-tab>
    </mat-tab-group>


</div>