<div *ngIf='usuario' class="detalleDeUsuario">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink='../../buscar'><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Detalle de Usuario
  </div>

  <mat-divider></mat-divider>
  <mat-spinner *ngIf="cargando" ></mat-spinner>

  <div class="contenidoPantalla">

      <div *ngIf='usuario' class="detalle-de-usuario">

        <form class="contentDetailUSer">
            <mat-form-field>
              <input matInput placeholder="Nombre" name='nombre' [(ngModel)]="usuario.nombre">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Apellido" name='apellido' [(ngModel)]="usuario.apellido">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly placeholder="DNI" value="{{usuario.dni}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Legajo" name='legajo' [(ngModel)]="usuario.legajo">
            </mat-form-field>
            <mat-form-field>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="nac" placeholder="Nacimiento" name='nacimiento' [(ngModel)]="usuario.nacimiento" disabled>
              <mat-datepicker-toggle matSuffix [for]="nac"></mat-datepicker-toggle>
              <mat-datepicker #nac disabled="false"></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-select placeholder="Genero" name='genero' [(ngModel)]="usuario.genero">
                <mat-option *ngFor="let genero of generos" [value]="genero.value">
                    {{genero.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Dirección" name='direccion' [(ngModel)]="usuario.direccion">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Ciudad" name='ciudad' [(ngModel)]="usuario.ciudad">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="País" name='pais' [(ngModel)]="usuario.pais">
            </mat-form-field>
            <mat-divider></mat-divider>
           
          </form>
          <mat-form-field *ngIf='telefono_fijo'>
            <input matInput placeholder="Teléfono Fijo" name='telefono_fijo' (ngModelChange)='modificarTelefono(telefono_fijo)' [(ngModel)]="telefono_fijo.numero">
              <button  mat-button (click)='eliminarTelefono(telefono_fijo)' [disabled]="!mostrarEliminarTelefono(telefono_fijo)" matSuffix>
                <mat-icon aria-label="Eliminar teléfono">delete</mat-icon>
              </button>
          </mat-form-field>
          <mat-form-field *ngIf='telefono_movil'>
            <input matInput placeholder="Teléfono Celular" name='telefono_movil' (ngModelChange)='modificarTelefono(telefono_movil)' [(ngModel)]="telefono_movil.numero">
              <button  mat-button (click)='eliminarTelefono(telefono_movil)' [disabled]='!mostrarEliminarTelefono(telefono_movil)' matSuffix>
                <mat-icon aria-label="Eliminar teléfono">delete</mat-icon>
              </button>
          </mat-form-field>
          <mat-divider></mat-divider>
          <br>
            <div *ngFor='let m of usuario.mails'>
              <div *ngIf='eliminados ? true : m.eliminado == null'>
                <mat-form-field class="ContenedorCorreos">
                    <input type="email" matInput placeholder="Correo eléctronico" value="{{m.email}}">
                    <mat-icon class="btnVerificado" *ngIf="m.confirmado != null" matSuffix title="Verificado el {{m.confirmado}}">verified_user</mat-icon>
                    <mat-icon class="btnNoVerificado" *ngIf="m.confirmado == null"  matSuffix title="Sin verificar">verified_user</mat-icon>
                    <button  mat-button (click)='eliminarCorreo(m)' [disabled]='m.eliminado != null' matSuffix>
                      <mat-icon aria-label="Eliminar correo">delete</mat-icon>
                    </button>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf='designaciones'>
              <mat-form-field class="contenedorDesignaciones" *ngFor='let d of designaciones'>
                  <input matInput readonly placeholder="Designacion" value="{{d.lugar.nombre}}" >
                  <div class="itemDesignacion">
                    <div class="textDesignacion">Cargo:</div><div>{{d.cargo.nombre}}</div>
                  </div>
                  <div class="itemDesignacion">
                    <div class="textDesignacion">Fecha de Designación:</div><div>{{d.desde  | date: 'dd/MM/yyyy'}}</div>
                  </div>
              </mat-form-field>
            </div>

      </div>



      <div *ngIf='usuario' class="contenedorBotones">
      <!-- <button (click)='crearClaveTemporal()'>Crear Clave Temporal</button> -->

        <button mat-button class="btn" routerLink="./reset-clave"><mat-icon>add</mat-icon> CREAR CLAVE TEMPORAL</button>
        <!-- <button mat-button class="btn" routerLink='/usuario/usuario/{{usuario.id}}/generar-desig' [disabled]='tieneDesignacion()'><mat-icon>add</mat-icon> CREAR DESIGNACIÓN</button> -->
        <button *ngIf="chequearLugar('econo')" mat-button class="btn" routerLink='./crear-correo' [disabled]='!tieneDesignacion()'><mat-icon>add</mat-icon> CREAR CORREO ECONO</button>
        <button *ngIf="chequearLugar('presi')" mat-button class="btn" routerLink='./agregar-correo'> <mat-icon>add</mat-icon> AGREGAR CORREO</button>
        <button mat-button class="btn" *ngIf="!eliminados && chequearLugar('econo')" (click)='eliminados = !eliminados' value='{{eliminados}}'><mat-icon>add</mat-icon> VER CORREOS ELIMINADOS</button>
        <button mat-button class="btn" *ngIf="eliminados && chequearLugar('econo')" (click)='eliminados = !eliminados' value='{{eliminados}}'><mat-icon>remove</mat-icon> OCULTAR CORREOS ELIMINADOS</button>

        <button mat-button class="btnGuardar" (click)='actualizarDatos()'> GUARDAR CAMBIOS</button>


      <!-- <button routerLink="/reset-clave/{{sileg.id}}">Crear Clave Temporal</button>
      <button (click)='crearDesignacion()' [disabled]='tieneDesignacion()'>Crear Designacion</button>
      <button (click)='crearCorreo()' [disabled]='!tieneDesignacion() || tieneCorreoInstitucional()'>Crear Correo</button> -->
      </div>


  </div>
</div>
