<div class="contenidoPantalla">
  <mat-progress-bar *ngIf="cargando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>

  <div *ngIf='lugar'>
    <mat-list>
        <mat-list-item routerLink='../' class="itemLista">
          <div matListAvatar class="avatar">{{lugar.nombre.charAt(0)}}</div>
          <h3 matLine> {{lugar.nombre}} </h3>
          <p matLine> <span class="itemTextoSubtitulo"> {{lugar.descripcion}} </span> </p>
        </mat-list-item>
    </mat-list>
    
    <mat-table #table [dataSource]="designaciones" matSort (matSortChange)='ordenar($event)' matSortActive="fullname" matSortDirection="asc">
        
        <ng-container matColumnDef='fullname'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef='let d'> {{d.usuario.nombre}} {{d.usuario.apellido}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='dni'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
            <mat-cell *matCellDef='let d'> {{d.usuario.dni}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='cargo'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
            <mat-cell *matCellDef='let d'>
              <mat-select class="selectCargo" [value]='d.designacion.cargo_id'>
                <mat-option *ngFor="let c of cargos" [value]="c.id">
                  {{ c.nombre }}
                </mat-option>
              </mat-select>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef='desde'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Desde </mat-header-cell>
            <mat-cell *matCellDef='let d'>
              <mat-form-field class="imputFecha">
              <input class="imputFecha2" matInput [matDatepicker]="picker" placeholder="" [value]='d.designacion.desde'>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef='hasta'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hasta </mat-header-cell>
            <mat-cell *matCellDef='let d'>
              <mat-form-field class="imputFecha">
              <input class="imputFecha2" matInput [matDatepicker]="picker" placeholder="" [value]='d.designacion.hasta'>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
            </mat-cell>
        </ng-container>        

        <ng-container matColumnDef='expediente'>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </mat-header-cell>
          <mat-cell *matCellDef='let d'>
            <div>{{d.expediente}}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='resolucion'>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Resolución </mat-header-cell>
          <mat-cell *matCellDef='let d'>
            <div>{{d.resolucion}}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='estado'>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
          <mat-cell *matCellDef='let d'>
            <div routerLink='/sistema/designaciones/detalle/{{d.designacion.id}}'> det</div>
            <div *ngIf='d.historico'> H</div>
            <div *ngIf='esDocente(d)'> D</div>
            <div *ngIf='esAutoridad(d)'> A</div>
            <div *ngIf='esNoDocente(d)'> ND</div>
          </mat-cell>
        </ng-container>   

        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
    </mat-table>
  </div>


</div>