<mat-toolbar-row>
        <button mat-button color="primary" (click)='volver()'><mat-icon>undo </mat-icon> VOLVER</button>
        <span>&nbsp;  Nueva Designación | Selección de Cargo</span>
</mat-toolbar-row>
      
<mat-divider></mat-divider>
    
    
<div class="pantalla">

    <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{(persona$ | async)?.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{(lugar$ | async)?.nombre}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
    </mat-card>

        <mat-tab-group>
                <mat-tab label="{{(lugar$ | async)?.nombre}}"> 

                        <mat-card >
                                <mat-card-content >
                    
                        <form [formGroup]='form' (ngSubmit)='submit()'>

                                <span>{{(persona$ | async)?.nombre}}</span>

                                <mat-form-field>
                                    <mat-label>Cargo</mat-label>
                                    <mat-select formControlName='cargo'>
                                        <mat-option *ngFor="let cargo of (cargos$ | async)" [value]="cargo">
                                            {{cargo.nombre}}
                                        </mat-option>
                                    </mat-select>    
                                </mat-form-field>
                            
                                <mat-form-field>
                                    <mat-label>Dedicación</mat-label>
                                    <mat-select formControlName='cargo'>
                                        <mat-option *ngFor="let cargo of (dedicaciones$ | async)" [value]="cargo">
                                            {{cargo.dedicacion}}
                                        </mat-option>
                                    </mat-select>    
                                </mat-form-field>
                            
                                <mat-form-field>
                                    <mat-label>Dedicación</mat-label>
                                    <mat-select formControlName='cargo'>
                                        <mat-option *ngFor="let cargo of (caracteres$ | async)" [value]="cargo">
                                            {{cargo.caracter}}
                                        </mat-option>
                                    </mat-select>    
                                </mat-form-field>
                                
                                <button type="submit" [disabled]="!form.valid">Actualizar</button>
                            
                        </form>

                </mat-card-content >
            </mat-card >




                </mat-tab>
        </mat-tab-group>


puntos: {{puntos$ | async}}

lugar: {{(lugar$ | async)?.nombre}}
nombre: {{(persona$ | async)?.nombre}}



        <button (click)='crear()'>Crear</button>

</div>