<div class="organigrama">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Organigrama
  </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">

      <mat-tree [dataSource]='dataSource' [treeControl]='treeControl' class='arbol'>
          <mat-tree-node *matTreeNodeDef='let node' matTreeNodeToggle>
            <li class='mat-tree-node'>
              <button mat-icon-button disabled></button>
              <!--
              <mat-checkbox class="checklist-leaf-node"
                  [checked]="false"
                  (change)="todoLeafItemSelectionToggle(node)">{{node.item}}
              </mat-checkbox>
-->
              <a style='color: inherit; text-decoration: none;' routerLink='/sistema/lugares/lugar/{{node.id}}'> {{node.nombre}}</a>
            </li>
          </mat-tree-node>
      
          <mat-nested-tree-node *matTreeNodeDef='let node; when: tieneHijos'>
            <li>
                <div class='mat-tree-node'>
                  <button mat-icon-button matTreeNodeToggle>
                    <mat-icon class='mat-icon'>
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <!--
                  <mat-checkbox class="checklist-leaf-node"
                                [checked]="false"
                                (change)="todoLeafItemSelectionToggle(node)">{{node.item}}
                  </mat-checkbox>
-->
                  <a style='color: inherit; text-decoration: none;' routerLink='/sistema/lugares/lugar/{{node.id}}'> {{node.nombre}}</a>
                </div>
                <ul [class.arbol-nodo-invisible]='!treeControl.isExpanded(node)'>
                  <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
          </mat-nested-tree-node>
      </mat-tree>
  

  </div>

