<div class="usuariosLugar">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Usuarios de la oficina
  </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">

    <mat-progress-bar *ngIf="cargando" mode="indeterminate" value="10" class="preload"></mat-progress-bar>



    <div class="contenedorUsuariosDelLugar">
            <mat-list *ngIf="datos.lugar">
                <mat-list-item routerLink='../' class="itemLista">
                  <div matListAvatar class="avatar">{{datos.lugar.nombre.charAt(0)}}</div>
                  <h3 matLine> {{datos.lugar.nombre}} </h3>
                  <p matLine> <span class="itemTextoSubtitulo"> {{datos.lugar.descripcion}} </span> </p>
                </mat-list-item>
            </mat-list>

            <mat-table *ngIf="datos.lugar" #table [dataSource]="dataSource" matSort (matSortChange)='ordenar($event)' matSortActive="fullname" matSortDirection="asc">

              <ng-container matColumnDef='fullname'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef='let d'> {{d.fullname}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef='dni'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
                <mat-cell *matCellDef='let d'> {{d.dni}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef='cargo'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
                <mat-cell  *matCellDef='let d'>
                  <mat-select class="selectCargo"  (selectionChange)='d.modificado=true' [(ngModel)]="d.cargo">
                    <mat-option *ngFor="let c of cargos" [value]="c.id">
                      {{ c.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef='fecha'>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Asignación </mat-header-cell>
                <mat-cell *matCellDef='let d'>
                  <mat-form-field class="imputFecha">
                  <input class="imputFecha2" matInput [matDatepicker]="picker" placeholder="" [(ngModel)]="d.fecha" (dateChange)="d.modificado=true">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef='acciones'>
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef='let d'>
                  <button (click)="eliminar(d)" mat-button class="btnEliminar" *ngIf="!d.modificado"> <i class="material-icons icoAcciones">delete</i>  ELIMINAR </button>
                  <button (click)="guardar(d)" mat-button class="btnGuardar" *ngIf="d.modificado" >  <i class="material-icons icoAcciones">done</i> GUARDAR </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnas;"></mat-row>

              <!-- VISTA PC -->
              <!-- <mat-header-row *matHeaderRowDef="['position','name','weight','symbol']"></mat-header-row>
              <mat-row *matRowDef="let row; columns: ['position','name','weight','symbol']"></mat-row> -->

            </mat-table>

        </div>

        <div class="contenedorAccionesLugar" *ngIf="datos.lugar">
          <button mat-button class="btnAcciones" routerLink='./abm'> <mat-icon class="icoMenu">person_add</mat-icon> AGREGAR USUARIO</button>
        </div>


  </div>

</div>
