<mat-toolbar color=primary>SILEG</mat-toolbar>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
        <!-- <img class="imgLogo" src="/assets/img/fce/logo.png"> -->

        <div class="hit-the-floor">GELIS</div>
        <div>Administracción y Designación Docente y NoDocente  </div>
        <button mat-stroked-button (click)="onClick" color="primary">ACCEDER</button>

        <mat-divider></mat-divider>
        <div class="desarrollo"><p>DiTeSI | Dirección de Tecnologías y Sistemas Informáticos</p></div>

        <div><img class="logoFce" src="/assets/img/fce/logofce2018.png"></div>

        


</div>

<!-- <div class="content">

</div>   -->