<div *ngIf='visible' class="loader">

    <mat-toolbar color=primary>{{cabecera}} {{version}}</mat-toolbar>

     <div class="contenido ">

        <div class="logo">G</div>

        <div class="tituloSistema">{{tituloSistema}}</div>
  
        <div>{{subtituloSistema}}</div>

        <button mat-stroked-button (click)="acceder()" color="primary">ACCEDER</button>

        <div class="desarrollo"><p>{{desarrolloSistema}}</p></div>

        <div><img class="logoFce" src="{{logoSistema}}"></div>

      </div>

</div>

