<div class="loader">

        
    
    <mat-toolbar color=primary>{{cabecera}} {{version}}</mat-toolbar>

   <div class="bg"></div>
   <div class="bg bg2"></div>
   <div class="bg bg3"></div>

   <div class="contenido">



      <div class="hit-the-floor">{{tituloSistema}}</div>
      <div>{{subtituloSistema}}</div>
      <button mat-stroked-button (click)="onClick" color="primary">ACCEDER</button>

       <mat-divider></mat-divider>
       <div class="desarrollo"><p>{{desarrolloSistema}}</p></div>

       <div><img class="logoFce" src="{{logoSistema}}"></div>

        


</div>
</div>

