/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.crearUsuario .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.crearUsuario .btnVolverSeccion {
  color: grey;
}

.crearUsuario .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/

.detalleDeUsuario {
  width: 450px;
}

.contentDetailUSer {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

.textoTitulo {
  color: #4186E1;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.btnSiguiente {
  background-color: #4186E1;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}

.btnAnterior {
  background-color: #D1D1D1;
  margin-top: 10px;
  margin-top: 10px;
}

.textCreado {
  font-size: 2em;
  color: #4186E1;
  margin-top: 10px;
}

.textSubCreado {
  color: grey;
  font-size: 0.9em;
}

.btnGuardar {
  margin-top: 5px;
  background-color: #4186E1;
  color: white;
}


.contenedorNuevoUsuario {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 20px;
  width: 30%;
}

  @media screen and (max-width: 769px) {
      .detalleDeUsuario {
        width: 99%;
      }
      .contenedorNuevoUsuario {
        width: 88%;
      }
  }
