<div class="create">
    <div class="textoTitulo">Crear Usuario</div>
    <div *ngIf='mensaje'>{{mensaje}}</div>

    <div *ngIf='!mensaje' class="detalleDeUsuario">
        <form *ngIf='usuario' class="contentDetailUSer">
          <mat-form-field>
            <input matInput type='text'  placeholder="Nombre" name='nombre' [(ngModel)]='usuario.nombre'/>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='text'  placeholder="Apellido" name='apellido' [(ngModel)]='usuario.apellido'/>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='text'  placeholder="Dni" name='dni' [(ngModel)]='usuario.dni'/>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='text'  placeholder="Legajo" name='legajo' [(ngModel)]='usuario.legajo'/>
          </mat-form-field>
          <mat-form-field>
            <input matInput type='text'  placeholder="Género" name='genero' [(ngModel)]='usuario.genero'/>
          </mat-form-field>
        </form>

        <button mat-button class="btnSiguiente" (click)='verificarCrearPersona()'>CREAR USUARIO</button>
        <button mat-button class="btnAnterior" routerLink='/buscar'>Volver</button>
        
      </div>


</div>
