.detalleDeUsuario {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.contentDetailUSer {
  display: flex;
  flex-direction: column;
}

.detalle-de-usuario {
  width: 400px;
}

.ContenedorCorreos {
  width: 400px;
}

.contenedorDesignaciones {
  width: 400px;
}

.btnVolver {
  margin: 0 20px 20px 0;
}

.btnVerificado {
    /*color: #4186E1;*/
    font-size:1em;
}
.btnVerificado {
    /*color: #4186E1;*/
    font-size:1em;
}

.btnNoVerificado {
  color: #e2e2e2;
    font-size:1em;
}


.textoTitulo {
  color: #4186E1;
    font-size: 1.3em;
}

.contenedorBotones {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}



.btn {
  margin: 5px;
  padding: 10px;
  text-align: left;
}
