.detalleDeUsuario {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.contentDetailUSer {
  display: flex;
  flex-direction: column;
}

.detalle-de-usuario {
  width: 400px;
}

.btnVolver {
  margin: 0 20px 20px 0;
}

.textoTitulo {
  color: #4186E1;
    font-size: 1.3em;
}

.contenedorBotones {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.icoSinVerificar {
  color: #e2e2e2;
}


.btn {
  margin: 5px;
  padding: 10px;
  text-align: left;
}
