 .referencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    } 
  }

   .estados {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    width: 19px;
    height: 19px;
    font-weight: bold;
    margin-right: 5px;
    color: white;
    margin-top: 5px;

}

.tituloEstado {
  @media screen and (max-width: 768px) {
  margin-top: 20px;
  }
}


.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  font-size: 12px;
}

.textItem {
  font-size: 14px;
}

// Tipo de designacion
$colorAlta: #2196f3;
$colorBaja: #5C7A95;
$colorCambioCargo: #ECB057;
$colorProrroga: #A4009D;
$colorActiva: #51B24A;
// Estado de designacion
$colorPendiente: #E22748;
$colorAprobado: #96ba3a;
$colorUNLP: #2c9684;
$colorDenegado: #9A00B1;
$colorCancelado: #6C24B8;

$sinColorTipo:#333333;
$sinColorEstado:#637b89;


.pendiente {
  background-color:  $colorPendiente;
}
.aprobado {
  background-color:  $colorActiva;
}

.cancelado {
  background-color:  $colorCancelado;
}
.denegado {
  background-color:  $colorDenegado;
}
.unlp {
  background-color:  $colorUNLP;
}
.activa {
  background-color:  $colorActiva;
}
.baja {
  background-color:  $colorBaja;
}
.bajaEnProceso {
  background-color:  $sinColorTipo;
}
.altaEnProceso {
  background-color:  $colorAlta;

}


.tipo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  font-size: 12px;
  width: 19px;
  height: 19px;
  font-weight: bold;
  margin-right: 5px;
  color: white;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;
}

