<h1 mat-dialog-title>Referencias</h1>
<mat-dialog-content>
    <div>Estados</div>
    <div class="item"><div class="estados pe">P</div><div class="textItem">Pendiente de Aprobación</div></div>
    <div class="item"><div class="estados a">A</div><div class="textItem">Aprobado</div></div>
    <div class="item"><div class="estados u">U</div><div class="textItem">Enviado a UNLP</div></div></mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)='_cerrar()'>Cerrar</button>
</mat-dialog-actions>
