   .estados {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    width: 19px;
    height: 19px;
    font-weight: bold;
    margin-right: 5px;
    color: white;

}


.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.textItem {
  font-size: 14px;
}

// Tipo de designacion
$colorAlta: #2196f3;
$colorBaja: #5C7A95;
$colorCambioCargo: #ECB057;
$colorProrroga: #A4009D;
$colorActiva: #51B24A;
// Estado de designacion
$colorPendiente: #E22748;
$colorAprobado: #96ba3a;
$colorUNLP: #2c9684;
 

.a {
  background-color:  $colorAlta;
}
.b {
  background-color:  $colorBaja;
}
.c {
  background-color:  $colorCambioCargo;
}
.p {
  background-color:  $colorProrroga;
}
.pe {
  background-color:  $colorPendiente;
}
.u {
  background-color:  $colorUNLP;
}
.ac {
  background-color:  $colorActiva;
}
