.menu {
  width: 100%;
  height: 100%;
}

.menu .btn {
  width: 100%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 25px 5px 25px;
}

.menu .icoMenu {
  color: rgba(0,0,0,.54);
  margin-right: 10px;
}
