<mat-sidenav-container  class="menu">
  <mat-sidenav #sidenav mode="over" (openedChange)='onOpenedChange($event)' [disableClose]='false' [(opened)]="menu_abierto">
      <button *ngIf="chequearPerfil(['super-admin','buscar_usuario'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/usuario/buscar"><mat-icon class="icoMenu">search</mat-icon> Buscar Usuario</button><br>
      <button *ngIf="chequearPerfil(['super-admin','crear_usuario'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/usuario/crear"><mat-icon class="icoMenu">perm_identity</mat-icon> Crear Usuario</button><br>
      <button *ngIf="chequearPerfil(['super-admin','buscar_lugar'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/lugares/buscar"><mat-icon class="icoMenu">search</mat-icon> Buscar Lugar</button><br>
      <!-- <button class="btn" mat-button (click)='onInternalItem()' routerLink="/lugares/lugar/2309u3024-3454353-3543453"><mat-icon class="icoMenu">list</mat-icon> Detalle Lugar</button><br> -->
      <button *ngIf="chequearPerfil(['super-admin','crear_lugar'])" class="btn" mat-button (click)='onInternalItem()' routerLink="/sistema/lugares/crear"><mat-icon class="icoMenu">bookmark_border</mat-icon> Crear Lugar</button><br>
      <!-- <button class="btn" mat-button (click)='onInternalItem()' routerLink="/lugares/lugar/2309u3024-3454353-3543453/usuarios"><mat-icon class="icoMenu">list</mat-icon> Usuarios de oficina</button><br> -->
      <!-- <button class="btn" mat-button (click)='onInternalItem()' routerLink="/lugares/lugar/2309u3024-3454353-3543453/usuarios/abm"><mat-icon class="icoMenu">list</mat-icon> Agregar/Quitar usuarios</button><br> -->
      <!-- <button class="btn" mat-button (click)='onInternalItem()' routerLink="/lugares"><mat-icon class="icoMenu">device_hub</mat-icon> Organigrama</button><br> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="pantalla"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
