<div class="agregar-quitar-usuarios">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Agregar o Quitar Usuarios
  </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">

    <app-listado-usuarios [usuarios]="usuarios" (selected)="seleccionarUsuario($event)" (searchEvent)="buscar($event)"></app-listado-usuarios>
    <mat-progress-bar mode="indeterminate" *ngIf="cargando" class="preload"></mat-progress-bar>
  </div>

</div>
