.dialogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
  
  }

  .contenedorDialogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
   }

   .titulo {
     margin-bottom: 20px;
   }