/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.correo .seccionSistema {
    color: #4186e1;
    padding: 5px;
  
  }
  
  .correo .btnVolverSeccion {
    color: grey;
  }
  
  .correo .contenidoPantalla {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  
  /* ---------------------------------------*/

  .pasos {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
  }

  .iconoPasos {
      margin-right: 5px;
      color: grey;
  }

  .formulario {
    width: 50%;
    padding: 20px;
  

}

    .btnVerificar {
        color:4186e1;
    }

    .btnPrincipal{
        background-color: #4186e1;
        color: #fff;
        width: 50%;
        padding: 5px 0 5px 0;
        margin: 40px 0px 0px 0px;
    }
