<div class="crearLugar">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" routerLink='/sistema/inicial'><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Crear Lugar
  </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">
      <mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
      
      <form (ngSubmit)="crear()" #lugarForm="ngForm">

          <mat-form-field class="itemFormulario">
              <input  matInput placeholder="Nombre" required name="name" [(ngModel)]='lugar.nombre'>
          </mat-form-field>
          <mat-form-field class="itemFormulario">
              <input matInput placeholder="Descripción" name="descripction" [(ngModel)]='lugar.descripcion'>
          </mat-form-field>
          <mat-form-field class="itemFormulario">
              <mat-select placeholder="Tipo de Lugar" required [(ngModel)]='lugar.tipo' name='type'>
                <mat-option *ngFor="let t of tipos" [value]="t.value">
                  {{ t.nombre }}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <div class="contenedorItemsFormulario">
              <mat-form-field class="itemFormularioMedio">
                  <input matInput placeholder="Nº de Oficina" [(ngModel)]='lugar.numero' name="number">
              </mat-form-field>
              <mat-form-field class="itemFormularioMedio">
                  <input matInput placeholder="Teléfono / Interno" [(ngModel)]='lugar.telefono' name="telephone">
              </mat-form-field>
          </div>
          <mat-form-field class="itemFormulario">
              <input type="email" matInput placeholder="Correo Eléctronico" [(ngModel)]='lugar.email' name="email" [email]="true">
          </mat-form-field>

          <button type="submit" mat-button class="btnCrear" [disabled]="!lugarForm.form.valid"> CREAR LUGAR</button>

      </form>


  </div>

</div>
