/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.crearLugar .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.crearLugar .btnVolverSeccion {
  color: grey;
}

.crearLugar .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/

.formulario {
}

.itemFormulario {
  width: 100%;
}

.contenedorItemsFormulario {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemFormularioMedio {
  width: 48%;
}

.btnCrear {
  background-color: #4186E1;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
}

.preload {
  opacity: 0.2;
  margin-bottom: 20px;
}


@media screen and (max-width: 769px) {
  .crearLugar .contenidoPantalla {
    width: 100%;
  }
  .btnCrear {
    width: 100%;
    padding: 5px;
  }

}
