/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.agregar-quitar-usuarios .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.agregar-quitar-usuarios .btnVolverSeccion {
  color: grey;
}

.agregar-quitar-usuarios .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/
