<div class="detalleLugar">

  <div class="seccionSistema">
      <button mat-button class="btnVolverSeccion" (click)="volver()"><mat-icon>keyboard_arrow_left</mat-icon> volver</button>
        | Detalle Lugar
  </div>

  <mat-divider></mat-divider>

  <div class="contenidoPantalla">
      <div class="contenedorDetalleLuga">

      <form (ngSubmit)="guardar()" #lugarForm="ngForm" id="ngForm">

          <mat-form-field class="itemFormulario">
              <input  matInput placeholder="Nombre" required name="name" [(ngModel)]='lugar.nombre'>
          </mat-form-field>
          <mat-form-field class="itemFormulario">
              <input matInput placeholder="Descripción" name="descripction" [(ngModel)]='lugar.descripcion'>
          </mat-form-field>
          <mat-form-field class="itemFormulario">
              <mat-select placeholder="Tipo de Lugar" required [(ngModel)]='lugar.tipo' name='type'>
                <mat-option *ngFor="let t of tipos" [value]="t.value">
                  {{ t.nombre }}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <div class="contenedorItemsFormulario">
              <mat-form-field class="itemFormularioMedio">
                  <input matInput placeholder="Nº de Oficina" [(ngModel)]='lugar.numero' name="number">
              </mat-form-field>
              <mat-form-field class="itemFormularioMedio">
                  <input matInput placeholder="Teléfono / Interno" [(ngModel)]='lugar.telefono' name="telephone">
              </mat-form-field>
          </div>
          <mat-form-field class="itemFormulario">
              <input type="email" matInput placeholder="Correo Eléctronico" [(ngModel)]='lugar.correo' name="email" [email]="lugar.correo != '' && lugar.correo != null">
          </mat-form-field>

      </form>
    </div>
      <div class="contenedorAccionesLugar">
        <button mat-button class="btnAcciones" routerLink='./usuarios'> <mat-icon class="icoMenu">people</mat-icon> USUARIOS DEL LUGAR</button>
        <button *ngIf="lugar.eliminado == null" mat-button class="btnAcciones" (click)='eliminarLugar()'> <mat-icon class="icoMenu">delete</mat-icon> ELIMINAR LUGAR</button>
        <button *ngIf="lugar.eliminado" mat-button class="btnAcciones" (click)='restaurarLugar()'> <mat-icon class="icoMenu">restore</mat-icon> RESTAURAR LUGAR</button>
        <button type="submit" mat-button class="btnCrear" form="ngForm" [disabled]="!lugarForm.form.valid"> GUARDAR CAMBIOS </button>
      </div>

  </div>

</div>
