
<div>
    Preload Completo
    <button (click)='activar_preload_completo()'>activar</button>
    <button (click)='desactivar_preload_completo()'>desactivar</button>
</div>
<div>
    Preload Parcial
    <button (click)='activar_preload_parcial()'>activar</button>
    <button (click)='desactivar_preload_parcial()'>desactivar</button>
</div>
<div>
    <form [formGroup]='form' (ngSubmit)='navegar()'>
        <mat-form-field>
            <mat-label>Ruta</mat-label>
            <input matInput formControlName='ruta'/>
        </mat-form-field>
        <button type='submit'>navegar</button>
    </form>
</div>
<div>
    Permisos
    <div *ngFor='let p of permisos._load_perms() | async'>
        {{p}}
    </div>
    <label>urn:*:*:*</label>    
    <button (click)='configurar_permisos()'>Configurar ejemplo</button>
</div>