/* ---- CSS BASICO PARA CADA PANTALLA ----*/


.buscarLugares .seccionSistema {
  color: #4186e1;
  padding: 5px;

}

.buscarLugares .btnVolverSeccion {
  color: grey;
}

.buscarLugares .contenidoPantalla {
  padding: 20px;
  max-width: 400px;

}

/* ---------------------------------------*/
