.generarClave {
  padding: 20px;
}

.contenedorNuevaClave {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 20px;
  width: 30%;
}

.contrasena {
  font-size: 2em;
  color: #4186E1;
  margin-top: 10px;
}

.textContrasena {
  color: grey;
  font-size: 0.8em;
}

.btnGuardar {
  margin-top: 5px;
  background-color: #4186E1;
  color: white;
}


@media screen and (max-width: 769px) {
  .contenedorNuevaClave {
    width: 88%;
  }
}
